input[type=radio] {
    z-Index: 1;
    box-sizing: border-box;
    position: absolute;
    top: 6px;
    left: 6px;
    margin: 0;
}

input[type=radio] + label {
    z-Index: 2;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 0 0 32px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    word-break: normal;
}

input[type=radio] + label::before {
    z-Index: 10000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #666;
    border-radius: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}

input[type=radio]:checked + label::after {
    z-Index: 10001;
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 6px solid #333;
    border-radius: 100%;
    content: "";
}

fieldset {
    border: 0px;
    font-size: 18px;
    line-height: 28px;
}

fieldset div {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    min-height: 28px;
    margin: 10px 0 0;
    vertical-align: middle;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-container {
    height: 200px;
    border: 1px #666 solid;
    padding: 3px 5px;
    margin: 5px 0;
    overflow-y: scroll;
}

.icon-container .fa {
    font-weight: 400;
    margin-right: 2px;
}

.icon-container.solid .fa {
    font-weight: 900;
}

#search-icons {
    width: 100%;
}

.tag {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    background-color: #e1e1e1;
    color: #333;
    font-size: 14px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}

.tag .action {
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    height: 100%;
    border: 0;
}

@media (hover: hover) {
    .tag .action {
        width: 30px;
        transition: all 0.3s ease;
        background-color: rgba(65, 203, 133, 0.71);
        color: #FFF;
        right: -30px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        font-family: var(--fa-style-family, "Font Awesome 6 Free");
        font-weight: 900;
    }

    #selected-icons .tag .action {
        background-color: rgba(255, 64, 27, 0.71);
    }

    .tag .action::after {
        content: "\f00c";
    }

    #selected-icons .tag .action::after {
        content: "\58";
    }

    .tag:hover .action {
        right: 0px;
    }
}

@media screen and (min-width: 768px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    section:first-of-type {
        grid-column: 1 / 3;
    }

    section:nth-of-type(3) {
        padding-top: 124px;
    }
}